@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Destacado {
  position: relative;
  padding: 0 40px;
}

.Destacado .box {
  width: 150px;
  height: 300px;
}

.box img {
  width: 420px;
  height: 300px;
}

.DC {
  padding: 5rem;
}

.DC .box {
  width: 250px;
  height: 500px;
}

/*Encabezado*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  width: 100%;
  height: 100px;
  position: fixed;
  padding: 0 25px;
  top: 0;
  left: 0;
}
.btn-menu label {
  color: black;
  font-size: 25px;
  cursor: pointer;
}
.logo a {
  text-decoration: none;
}
.logo h1 {
  font-family: "Nabla";
  font-size: 48px;
  margin: 0 50px;
}
.header button {
  border-radius: 30px;
  border: 2px solid black;
  font-family: sans-serif;
  font-size: 18px;
  cursor: pointer;
  background: linear-gradient(
    141deg,
    rgba(182, 230, 0, 1) 14%,
    rgba(240, 246, 3, 1) 44%,
    rgba(0, 212, 255, 1) 77%
  );
  width: 160px;
  height: 60px;
  transition: 0.5s;
}
button:hover {
  background-color: #24262b;
}
.header i {
  padding-right: 10px;
}
.icono-busqueda {
  display: none;
}
.icono-busqueda i {
  width: 0px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
  display: none;
}
.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  font-family: sans-serif;
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu nav i {
  float: right;
}
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
/*Fin Menu Lateral*/
main h1 {
  font-family: "Public Sans", sans-serif;
  text-align: center;
  margin: 50px 0;
}
h2 {
  font-family: "Public Sans", sans-serif;
  margin: 30px 10px;
}
#barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
#busqueda {
  height: 75px;
  min-width: 500px;
  width: 45vw;
  border: 3px solid black;
  border-radius: 55px;
  font-size: 25px;
  padding-left: 23px;
  outline: none;
}
/*CARROUSEL*/
.cell {
  height: 350px;
  margin: 0 35px;
  overflow: hidden;
  border-radius: 8px;
}
.cell img {
  width: 80%;
  height: 350px;
  object-fit: cover;
}
.deslizamiento .contenido h3 {
  font-size: 2rem;
  color: #1c1c1c;
}
.deslizamiento .contenido p {
  font-size: 1.7rem;
  color: #82807f;
}
/*Colecciones*/
.grid {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: red;
}
.grid > div {
  border: 1px solid black;
  height: 300px;
  padding: 100px;
}
.coleccion {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coleccion img {
  object-fit: cover;
  width: 100%;
  display: flex;
}
.coleccion-playa,
.coleccion-montaña,
.coleccion-cruceros,
.coleccion-vistas {
  background-position: center;
  background-size: cover;
}
.coleccion-playa {
  background-image: url(img/playa\ .jpg);
  filter: brightness(65%);
}
.coleccion-montaña {
  background-image: url(img/montaña-vegetacion-min-e1533763005248.jpg);
  filter: brightness(65%);
}
.coleccion-cruceros {
  background-image: url(img/crucero-arresto.jpg);
  filter: brightness(65%);
}
.coleccion-vistas {
  background-image: url(img/150122-turistas-observando-ceta-ceos-en-las-costas-del-sur-de-la-gomera-martin-siepmann-age.jpeg);
  filter: brightness(65%);
}
.paquete-titulo {
  top: 70%;
  left: 4.5%;
  position: absolute;
}
.paquete-titulo h4 {
  color: white;
  font-size: 45px;
  font-family: sans-serif;
}
.boton-coleccion {
  margin-top: 30px;
  text-align: center;
}
button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  font-size: 20px;
}

/*Carrousel 2*/
.argentina-precios {
  width: 100%;
  border: 1px solid black;
  background-image: url(img/obelisco-buenos-aires-getty.jpg);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.div-argentina {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  text-align: center;
  border: 1px solid black;
}
.interesar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.div-interesar {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  text-align: center;
  border: 1px solid black;
}
/*Footer*/
.contenedor {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  font-family: sans-serif;
  background-color: #24262b;
  padding: 60px 10px;
  margin-top: 50px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 500;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*POP-UP CONTACTO*/
h3 {
  text-align: center;
  color: #413b3b;
  text-transform: uppercase;
  font-size: 80px;
  font-family: "Zen Tokyo Zoo", cursive;
}
h5 {
  text-align: center;
  color: #82807f;
  margin: 80px auto;
  font-size: 20px;
  width: 50%;
  line-height: 1.7;
}
.box {
  margin-top: 80px;
  text-align: center;
}
.button {
  font-family: sans-serif;
  font-size: 20px;
  padding: 25px 40px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #3d3f3c;
  border-radius: 50px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.wrapper {
  font-family: sans-serif;
  margin: 70px auto;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.wrapper h2 {
  margin-top: 0;
  color: #333;
}
.wrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.wrapper .close:hover {
  color: #06d85f;
}
.wrapper .content {
  max-height: 30%;
  overflow: auto;
}
/*Form Pop-up Contacto*/

.container-form {
  border-radius: 5px;
  background-color: #e7e7e7;
  padding: 20px 0;
}
form label {
  font-weight: 500;
  letter-spacing: 3px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #413b3b;
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 3px;
}
.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
/*responsive*/
@media (max-width: 930px) {
  /*Para que el menu desplegable se vea bien a lo largo*/
  .container-menu,
  .cont-menu {
    height: 120%;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  body {
    padding: 0px 0;
  }

  .contenido-principal {
    flex-direction: column;
  }

  .contenido-principal > * {
    width: 100%;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
  .header button {
    display: none;
  }
  .header .icono-busqueda {
    display: block;
  }
  #barra-busqueda {
    display: none;
  }
}
